Intermediate/Build/Win64/x64/InventorySystemEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.ValApi.ValExpApi.Cpp20.h.pch
Intermediate/Build/Win64/x64/InventorySystemEditor/Development/UnrealEd/SharedPCH.UnrealEd.Project.NonOptimized.ValApi.ValExpApi.Cpp20.h.pch
.vs/InventorySystem/CopilotIndices/17.14.1653.19549/CodeChunks.db
.vs/InventorySystem/CopilotIndices/17.14.1653.19549/SemanticSymbols.db
.vs/InventorySystem/v17/Browse.VC.db
.vs/InventorySystem/v17/ipch/6cc8310f2042c038.ipch
.vs/InventorySystem/v17/ipch/8e0abc505545193a.ipch
.vs/InventorySystem/v17/ipch/AutoPCH/26bea10bd20d93b/HLSLMATHALIASES.ipch
.vs/InventorySystem/v17/ipch/b2440e69f8150fc8.ipch
.vs/InventorySystem/v17/Solution.VC.db
